/* Page-specific styles for categories.html */

.categories {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(39, 38, 38);
    padding: min(1rem, 5%);
    text-align: center;
    background-color: var(--background-light);
    margin: 10px auto;
}

.categories h2 {
    color: #085567;
    padding: .5rem;
    border-bottom: 3px solid;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.categories .category-container {
    width: 100%;
    padding: min(0.5rem, 8%);
}

/* Featured Categories */
.featured-categories {
    padding: 4rem 5%;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(39, 38, 38);
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
}

.featured-categories h2 {
    text-align: center;
    margin-bottom: 3rem;
} 