
.deals {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 10px auto;
    background-color: var(--background-light);

}

.deals h2 {
    color: #085567;
    padding: .5rem;
    border-bottom: 3px solid;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.offer-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}